body, button{
font-family: "Montserrat", sans-serif;
line-height: 1.5;
letter-spacing: 0.04em;
}
.feedback-form {
display: flex;
flex-direction: column;
gap: 8px;
width: 360px;
padding: 24px;

}
label {
display: flex;
flex-direction: column;
gap: 8px;
color: #2e2f42;
}
button {
border-radius: 8px;
padding: 8px 16px;
max-width: 95px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4e75ff;
border: none;
cursor: pointer;
}
button:hover {
background-color: #6c8cff;
}
input, textarea {
border: 1px solid #808080;
border-radius: 4px;
outline: none;
padding: 12px;
}

textarea {
resize: none;
max-height: 54px;
}
.back-link {
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #4e75ff;
    color: #fff;
}